body {
  background-color: #503661;
  color: #F5F5F5;
  display: flex;
  justify-content: center;     
  align-items: center;                  
  margin: 0;
  padding: 20px;
  text-align: center;
}


/* Button CSS -- START */
button {
  margin: 20px auto 0;
  display: block;
  border: none;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: #D19EFA;
  cursor: pointer;
  transition: filter 1s;
}

button:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  animation: button-animation 0.6s ease-in-out alternate infinite;
  transform-origin: center;
}

button > a {
  color: #2F2139;
  text-decoration: none;
}


@keyframes button-animation {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}

/* Button CSS -- END */

/* STEAM LOGO CSS -- START */
.steam {
  width: 50px;
  height: auto;
  position: absolute;
  top: 200px;
  right: 35px;
  z-index: 2;
}

.steam:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  animation: rotate 10s linear infinite;
  transform-origin: center;
}

@keyframes rotate{
  from{ transform: rotate(-360deg); }
  to{ transform: rotate(360deg); }
}

/* STEAM LOGO CSS -- END */