/* Fonts -- START */

@font-face {
  font-family: Pixel-Bold;
  src: url(assets/fonts/10Pixel-Bold.ttf);
}

@font-face {
  font-family: Invasion;
  src: url(assets/fonts/INVASION2000.TTF);
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(assets/fonts/Roboto-SemiBold.ttf);
}

/* Fonts -- END */

/* General CSS -- START */
body {
  background-color: #503661;
  color: #f5f5f5;
  font-family: Roboto; 
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}

h1 {
  padding: 10px;
  padding-top: 25px;
  font-family: Pixel-Bold;
  font-size: 40px;
}

h2 {
  padding-top: 25px;
  font-family: Pixel-Bold;
  font-size: 35px;
}

textarea {
  background-color: #F5F5F5;
  color: #2a1e33;
}

strong {
  font-family: Roboto-Bold;
}
/* General CSS -- END */

/* Button CSS -- START */
button {
  margin: 20px auto 0;
  display: block;
  border: none;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: #d19efa;
  cursor: pointer;
  transition: filter 1s;
}

button:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  animation: button-animation 0.6s ease-in-out alternate infinite;
  transform-origin: center;
}

button > a {
  color: #2a1e33;
  text-decoration: none;
}

@keyframes button-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

/* Button CSS -- END */

/* Div CSS -- START */
.main_div {
  display: flex;
  margin: 0;
  justify-content: center;
}

.container {
  background-color: #2a1e33;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 500px;
  margin: 20px;
  padding: 0 15px 25px 15px;
  margin-bottom: 50px;
}

.review_div {
  border-top: solid 1px #d19efa;
  border-bottom: solid 1px #d19efa;
  padding: 10px 30px;
}

.search_div > input{
  width: 300px;
  background-color: #F5F5F5;
  text-align: center;
  color: #2a1e33;
}
/* Div CSS -- END */


/* Log In and Register CSS -- START */

.input {
  margin-top: 20px; 
}

.input > input {
  width: 300px;
  background-color: #F5F5F5;
  color: #2a1e33;
}

/* Log In and Register CSS -- END */

/* Rating CSS -- START */

.rating {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  margin-top: 10px; 
  max-width: 200px;
  margin: auto; 
  filter: drop-shadow(0 0 2em #646cffaa);
  padding-top: 20px;
}

.rating:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

/* Rating CSS -- END */




/* Responsive Design */
@media screen and (min-width: 980px) {

  
 }